<% include partials/header.ejs %>
	<style>
	pre {
		text-align: center;
	}
	</style>
	<% include partials/s_bubble.ejs %>
		<h2 class="display-3 center" id="title">Bibliography</h2>
	<% include partials/e_bubble.ejs %>
	
	<pre>
Basics of Nuclear Weapons. (n.d.). Retrieved April 26, 2017, from http://www.nuclearfiles.org/menu/key-issues/
nuclear-weapons/basics/weapons-basics.htm
	</pre>
	<pre>
Nuclear weapon. (2017, April 22). Retrieved April 27, 2017, from https://en.wikipedia.org/wiki/Nuclear_weapon 
	</pre>	

	<pre>
L. (2017, March 13). Operation Hardtack-1 - Nutmeg 51538. Retrieved April 27, 2017, from https://www.youtube.com/
watch?v=XnrLY-phipw#action=share 
	</pre>

	<pre>
Nuclear weapon. (2017, April 22). Retrieved April 27, 2017, from https://en.wikipedia.org/wiki/Nuclear_weapon 
	</pre>

	<pre>
Radiation Effects on Humans. (n.d.). Retrieved April 27, 2017, from http://www.atomicarchive.com/Effects/effects15.shtml 
	</pre>
<% include partials/footer.ejs %>
