<% include partials/header.ejs %>

	<% include partials/s_bubble.ejs %>
		<h2 class="display-3 center" id="title">Bibliography</h2>
	<% include partials/e_bubble.ejs %>
	
	<pre>
		Basics of Nuclear Weapons. (n.d.). Retrieved April 26, 2017, from http://www.nuclearfiles.org/menu/key-issues/
		nuclear-weapons/basics/weapons-basics.htm
	</pre>
<% include partials/footer.ejs %>
