<% include partials/header.ejs %>

<div class="jumbotron">
	<div class="container">
    <h2 class="display-3 center" id="title">The Chemistry Behind Nuclear Warfare</h2>
    <p class="lead center">Learn the chemical reasons for the massive amounts of damage they cause, the different types, and the chemical components that used in nuclear warfare.</p>
	</div>
</div>

<div class="jumbotron">
	<div class="container">
	<h3 class="center">More Information Here</h3>
	</div>
</div>

<% include partials/footer.ejs %>
