<% include partials/header.ejs %>

	<div class="jumbotron" id="title-container">
		<div class="container">
    		<h2 class="display-3 center" id="title">The Chemistry Behind Nuclear Warfare</h2>
    		<p class="lead center">Learn the chemical reasons for the massive amounts of damage they cause, the different types, and the chemical components that used in nuclear warfare.</p>
			<iframe style="display:block;margin: 0 auto;" width="560" height="315" src="https://www.youtube.com/embed/XnrLY-phipw" frameborder="0" allowfullscreen></iframe>
    	</div>
    </div>

	<% include partials/s_bubble.ejs %>
		<div>
			<h2 class="display-3 center" id="name">Grayson Croom</h2>
			<h3 class="display-3 center">R4</h3>
		</div>
	<% include partials/e_bubble.ejs %>
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script>
	$("#title-container")
		.mouseenter(function() {
			$(this).addClass('animated wobble')
			$(this).css("color", "blue");
		})
		.mouseleave(function() {
			$(this).removeClass('animated wobble')
			$(this).css("color", "black");
		})
	var containercolor = $("#main-container").css("background-color");
	$("#name-container")
		.mouseenter(function() {
			$(this).addClass("animated jello")
			$(this).css("color", "green");
		})
		.mouseleave(function() {
			$(this).removeClass("animated jello")
			$(this).css("color", "black");
		})
	</script>
<% include partials/footer.ejs %>
