<style>
.center {
    text-align: center;
}

.ocenter {
	margin: 0 auto;
}

h2 {
	font-size: 40px;
}

html, body {
    width: 100%;
    height: 100%;
	background-color: #DC3D24;
}

#main-container {
	background-color: #DC3D24;
}

.jumbotron {
    background-color: whitesmoke;
    padding-bottom: 50px;
}

ul.big {
	font-size: 20px;
}
</style>
