<% include partials/header.ejs %>

	<% include partials/s_bubble.ejs %>
		<h2 class="display-3 center" id="title">The Materials Used in the Creation of Nuclear Bombs</h2>
	<% include partials/e_bubble.ejs %>

<% include partials/footer.ejs %>
