<% include partials/header.ejs %>

	<% include partials/s_bubble.ejs %>
		<h2 class="display-3 center" id="title">The Different Types of Nuclear Bombs</h2>
	<% include partials/e_bubble.ejs %>
	
	<% include partials/s_bubble.ejs %>
		<h2 class="display-3 center">Terms to Know</h2>
		<h3>Fission vs. Fussion</h3>
		<ul class="big">
			<li>
			Fission: The nucleus of a heavy element is split causing it to release energy.
			</li>

			<li>
			Fusion: The combination of a light element's isotopes to form a heavier nuclei.
			</li>
		</ul>
	<% include partials/e_bubble.ejs %>
<% include partials/footer.ejs %>
