<% include partials/header.ejs %>
	<% include partials/s_bubble.ejs %>
		<h2 class="display-3 center" id="title">Background Information</h2>
	<% include partials/e_bubble.ejs %>
	
	<% include partials/s_bubble.ejs %>
		<h2 class="display-3 center">Vocabulary to Know</h2>
		<ul class="big">
			<li>
			Fission: The nucleus of a heavy element is split causing it to release energy.
			</li>

			<li>
			Fusion: The combination of a light element's isotopes to form a heavier nuclei.
			</li>

			<li>Radiation: Radiation is any energy that is emitted. That among those included are things sucha as light, sound, and heat. When talking in terms of nuclear weapons, we describe nuclear engergy (or ionizing radiation) as radiation.</li>
			<ul>
				<li>Alpha Radiation: Radiation of a helium nuclei.</li>
				<li>Beta Radiation: Radiation of electrons or positrons emitted from atoms at speeds close to the speed of light.</li>
				<li>Gamma Radiation: Electromagnetic waves released while radioactive decay takes place.</li>
			</ul>

			<li>Chain Reaction: The process of nuclear fission in which the neutrons released trigger other nuclear fission reactions at an equivelant or greator rate</li>
			<li>Critical Mass: The amount of a fissile substance that can have a self-sustaining chain reaction.</li>
		</ul>
	<% include partials/e_bubble.ejs %>

	<% include partials/s_bubble.ejs %>
		<h2 class="display-3 center">Types of Nuclear Bombs</h2>
		<img style="padding-bottom:25px;padding-top:35px;display: block;width: 300px;"src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Mk_6_nuclear_bomb.jpg" class="image-rounded ocenter animated infinite shake"> 
		<h3 class="center">Atom Bomb</h3>
		<p class="center">A nuclear bomb whose energy comes from the fission of uranium or plutonium. A fission reaction takes place within the bomb in order to release a lot of energy at one time.</p>
		<img style="padding-bottom: 25px;padding-top:35px;display: block;width: 300px;" src="http://www.viewzone.com/hbomb.mk41.jpg" class="image-rounded ocenter animated infinite shake tada">
		<h3 class="center">Hydrogen Bomb</h3>
		<p class="center">A nuclear weapon that derives its energy from hydrogen undergoing fusion. It is commonly refered to as a thermonuclear weapon. Hydrogen bombs undergo a fusion reaction in order to release energy. These bombs are 10-100 times as explosive as their atomic bomb counterparts</p>
	<% include partials/e_bubble.ejs %>
	
<% include partials/footer.ejs %>
